
.tw-app__center-head{
  padding-left: 1rem;
  color: darken($gray, 15%);
}
.tw-app__center{
  height: 100vh;
  background: #fff;
  overflow: auto;
  padding: $gutter;
  width: 60%;
  min-width: 55%;
}
.game-item__pic{
  width: 100%;
}
.games-list{
  display: flex;
  flex-wrap: wrap;

}
.game-item{
  display: flex;
  flex-direction: column-reverse;
  min-width: 8.5rem;
  width: calc(100% / 5);
  align-items: flex-start;
  padding: 0.7rem;


}
.game-item__name{
  font-size: 0.85rem;
  align-self: flex-start;
  line-height: auto;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;

}
.game-item__popularity{
  font-size: 0.7rem;
  align-self: flex-start;
  line-height: 0;
  margin: $lineheight 0;
  color: $gray;
}
